<% title 'Search Details' %>
<% page_header 'Search' %>
<% optional_description "##{@search.id}" %>
<% home_button %>
<% new_button 'search' %>
<% back_button %>

<%= render 'form', search: @search %>

<h3 class="text-center">Total Results: <%= search_total_results @search %></h3>

<div class="card-columns">
  <% @search.results.each do |result| %>
    <%= render partial: 'result_card', locals: {result: result, label: true } %>
  <% end %>
</div>